body{
     margin-bottom: 40px;
}

.container{
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100%;
}


.page-header { 
  margin-top:-10px;
  margin-bottom: 0;
  padding: 0;
  border: #b44230;
  width: 100%;
}

.page-header img{
  width: 100%;
}


.page-footer {
    background-color: #bb1d24;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    height: 30px;
    position: fixed;
    overflow: hidden;
}

form{
  margin-top: 1%;
  margin-left: 50%;
}

form .logout{
  font-size: .9em;
  margin: 0 5% 0 0;
}


.menu{
  margin-top: 7%;
}

.menu_view{
  width: 75%;
  height: 1%;
  margin-left: 12%;
  margin-bottom: 1%;
}
.menu_insert{
  width: 75%;
  height: 1%;
  margin-left: 12%;
  margin-bottom: 1%;
}
.menu_edit{
  width: 75%;
  height: 1%;
  margin-left: 12%;
  margin-bottom: 1%;
}

.view_farm{
  margin-left: 17%;
  margin-top: 3%;

}

#view_farm_left{
  margin-left: 1%;
  width: 25%;
  height: 50%;
}

#view_farm_middle{
  margin-left: 1%;
  width: 25%;
  height: 50%;
}

#view_farm_right{
  margin-left: 1%;
  width: 25%;
  height: 50%;
}


.insert_tabmenu{
  margin-left: 19%;
  margin-top: 2%;

}

#insert_feeds{
  margin-left: 1%;
  width: 35%;
  height: 50%;
}

#insert_meds{
  margin-left: 1%;
  width: 35%;
  height: 50%;
}

.row2{
  padding-top: 5%;
}

.step-indicator {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;

}
.step-indicator li{
    list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  width: 33%;
  float: left;
  position: relative;
  text-align: center;
}
.step-indicator li:before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 1em;
  color: #333;
  background: #E2E2E2;
  border-radius: 5px;
  margin: 0 auto 6px auto;
  text-align: center;
 box-shadow: 1px 1px 12px 2px #c2c2c2;
}
.step-indicator li:after{
 content: '';
  width: 100%;
  height: 7px;
  background: #E2E2E2;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
.step-indicator li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
.step-indicator li.active:before, .step-indicator li.active:after {
    background: #bb1d24;
  color: white;
  box-shadow: 1px 1px 12px 2px #bb1d24;
}
.step-content {
  display: none;
  margin-top: 10px;
  margin-left: 25%;
  width: 50%;
  height: 200px;

  background-color: #efe8bd;
  border-radius: 5px;
  border: 3px solid #e5dec9;
}
.step-content.active {
  display: block;
}

.step-content2.active {
  display: block;
}

#button-holder {
  text-align: center;
  width: 50%;
  margin: 0 25%;
  font-size: 20px;
  font-size: 1.1vw;
}
#button-holder button + button {
  margin-left: 5%;
}
#button-holder button#previous {
  
 padding: 6px 9px 6px 9px;
  color: white;
  box-shadow: 1px 1px 12px 0px #9B9B9B;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  border: 2px solid #81a778;
  background: #8fb786;
  position: relative;
  width: 45%;
  display: inline-block;
  
}
#button-holder span.stepBtn {
  
 line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
  font-size: .8em;
}
#button-holder #prompt{
  display: block;
  background-color: #9fcc95;
  width: 100%;
  margin-top: 35%;
  font-size: 1em;
  border-radius: 5px;
}
 #again{
  display: block;
  background-color: #9fcc95;
  color: #303030;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
}

 #again2{
  display: block;
  background-color: white;
  color: #303030;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
}

#button-holder button#previous:hover {
   box-shadow: 2px 2px 12px 4px #9B9B9B;
  background: #9fcc95;
   
}
#button-holder button#previous:active {

   background: #787878;
  
   
}
#button-holder button#next{
  margin-top: 30px; 
  padding: 6px 5px 6px 5px;
  box-shadow: 1px 1px 12px 0px #9B9B9B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 border: 2px solid #81a778;
  background: #8fb786;
  position: relative;
  width: 45%;   
}
#button-holder button#next:hover{
  box-shadow: 2px 2px 12px 4px #9B9B9B;
   background:#9fcc95; 
}
#button-holder button#next:active{
    background: #787878;
}

#button-holder input#subFeed_id,#button-holder input#back,#button-holder input#subMed_id{
  padding: 6px 5px 6px 5px;
  box-shadow: 1px 1px 12px 0px #9B9B9B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 border: 2px solid #81a778;
  background: #8fb786;
  position: relative;
  width: 40%;   
   line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
  font-size: .8em;  
}
#button-holder input#subFeed_id:hover,#button-holder input#back:hover,#button-holder input#subMed_id:hover{
  box-shadow: 2px 2px 12px 4px #9B9B9B;
   background:#9fcc95; 
}
#button-holder input#subFeed_id:active,#button-holder input#back:active,#button-holder input#subMed_id:active{
    background: #787878;
}

.btn-cust {
  padding: 9px 10px 6px 10px;
  border: none;
  color: white;
  min-width: 30%;
  border-radius: 2px;
  transition: .5s all ease;
  
}
.btn-cust:focus {
  outline: none;
}
.btn-cust-lg {
  padding: 22px 22px 21px;
  font-size: 1.5em;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 3% 0% 0 45%;
  width: 30%;
}

.custom-dropdown select {
  background-color: white;
  color: black;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  width: 100%;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: #8fb786;
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.custom-dropdown2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 3% 27% 0 ;
  width: 46%;
}

.custom-dropdown2 select {
  background-color: white;
  color: black;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  width: 100%;
}

.custom-dropdown2::before,
.custom-dropdown2::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown2::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown2::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown2 select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown2 select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown2::before {
  background-color: #8fb786;
}

.custom-dropdown2::after {
  color: rgba(0,0,0,.4);
}

.h_meds_text{
  width: 30%;
}

.h_medicine{
  margin-left: 10%;
  margin-top: .5%;
}

.backbtn{
  margin-top: -4%;
  margin-left: 60%;
}


.meds-content {
  display: none;
  margin-left: 10%;
  width: 80%;
  height: 400px;

  background-color: #efe8bd;
  border-radius: 5px;
  border: 3px solid #e5dec9;
}
.meds-content.active {
  display: block;

}

.meds-content2.active {
  display: block;
}

/************FOR RESPONSIVENESS************/

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .pig-det-details, .pig-det-label{
      font-size: 9px;
  }
  .step-content2 {
    display: none;
    margin-top: -35%;
    margin-left: 10%;
    width: 80%;
    height: 250px;
  }
  .meds-content2 {
    display: none;
    margin-top: -50%;
    margin-left: 15%;
    width: 70%;
    height: 250px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .pig-det-details, .pig-det-label{
      font-size: 12px;
  }
  .step-content2 {
    display: none;
    margin-top: -28%;
    margin-left: 10%;
    width: 80%;
    height: 250px;
  }
  .meds-content2 {
    display: none;
    margin-top: -43%;
    margin-left: 15%;
    width: 70%;
    height: 250px;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .pig-det-details, .pig-det-label{
      font-size: 13px;
  }
  .step-content2 {
    display: none;
    margin-top: -21%;
    margin-left: 10%;
    width: 80%;
    height: 250px;
  }
  .meds-content2 {
    display: none;
    margin-top: -36%;
    margin-left: 15%;
    width: 70%;
    height: 250px;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .pig-det-details, .pig-det-label{
      font-size: 15px;
  }
  .step-content2 {
    display: none;
    margin-top: -14%;
    margin-left: 10%;
    width: 80%;
    height: 250px;
  }
  .meds-content2 {
    display: none;
    margin-top: -29%;
    margin-left: 15%;
    width: 70%;
    height: 250px;
  }
}
#fform,#mform{
  margin: 0;
}
