body{
     margin-bottom: 40px;
}

.container{
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100%;
}


.page-header { 
  margin-top:0px;
  margin-bottom: 0;
  padding: 0;
  border: #b44230;
  width: 100%;
}

.page-header img{
  width: 100%;
}


.page-footer {
    background-color: #bb1d24;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    height: 30px;
    position: fixed;
    overflow: hidden;
}

form{
  margin-top: 1%;
  margin-left: 50%;
}

form .logout{
  font-size: .9em;
  margin: 0 5% 0 0;
}

.step-indicator {
  margin-bottom: 0px;
  overflow: hidden;
  counter-reset: step;

}
.step-indicator li{
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  width: 20%;
  float: left;
  position: relative;
  text-align: center;
}
.step-indicator li:before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 1em;
  color: #333;
  background: #E2E2E2;
  border-radius: 5px;
  margin: 0 auto 6px auto;
  text-align: center;
 box-shadow: 1px 1px 12px 2px #c2c2c2;
}
.step-indicator li:after{
 content: '';
  width: 100%;
  height: 7px;
  background: #E2E2E2;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
.step-indicator li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
.step-indicator li.active:before, .step-indicator li.active:after {
    background: #bb1d24;
  color: white;
  box-shadow: 1px 1px 12px 2px #bb1d24;
}
.step-content {
  display: none;
  margin-top: 10px;
  margin-left: 25%;
  width: 50%;
  height: 200px;

  background-color: #efe8bd;
  border-radius: 5px;
  border: 3px solid #e5dec9;
}
.step-content.active {
  display: block;
}

.pos1{
  position: relative;
  top: 30px;
  bottom: 50px;
}

.row-centered {
  text-align:center;
}

.lowerPanel{
  max-width: 35%; 
  height: 80%; 
  margin-left: 33%; 
  margin-top: 0px; 
  padding: 20px; 
  padding-top: 2px;
  border-radius: 30px; 
  background-color: #9ecf95;
}

.btn1{
  height: 25%;
  width: 20%;
  background-color: white; 
  border-radius: 10px;
  font-size: 20px;
  background-image: linear-gradient(to bottom,#ccc 0,#e0e0e0 100%);
}

.btn2{
  height: 25%;
  width: 17%;
  background-color: white; 
  border-radius: 10px;
  font-size: 20px;
  background-image: linear-gradient(to bottom,#ccc 0,#e0e0e0 100%);
}
