RewriteEngine On

RewriteRule ^in pages/login.php [L]
RewriteRule ^home pages/index.php [L]
RewriteRule ^out pages/logout.php [L]
RewriteRule ^checkdata gateway.php [L]
RewriteRule ^choose pages/choose.php [L]

RewriteRule ^pages/farm pages/select_farm.php [L]
RewriteRule ^farm/([0-9]+) pages/select_house.php?location=$1 [L]
RewriteRule ^farm/house/([0-9]+)/([0-9]+) pages/select_pen.php?location=$1&house=$2 [L]
RewriteRule ^farm/house/pen/([0-9]+)/([0-9]+)/([0-9]+) pages/select_pig.php?location=$1&house=$2&pen=$3 [L]
RewriteRule ^farm/house/pen/pig/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+) pages/select_done.php?location=$1&house=$2&pen=$3&pig=$4 [L]

RewriteRule ^addPig/details1 pages/insert_pig_1.php [L]
RewriteRule ^addPig/details2 pages/insert_pig_2.php [L]
RewriteRule ^addPig/feedDetails pages/insert_pig_3.php [L]
RewriteRule ^addPig/medsDetails pages/insert_pig_4.php [L]

